/* .header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 4px 0; 
  margin-bottom: 150px;
} */

/* .navs {
  display: flex;
  justify-content: space-between;
}

.navs ul {
  
}

.navs ul li {
  display: inline-block;
  margin-left: 16px;
} */

