.about {
  display: flex;
  text-align: center;
  align-items: center;
}

.about-info, .about-list {
  /* display: flex; */
  flex-direction: row;
  /* border: 1px solid crimson; */
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 450px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.cloud {
  max-width: 550px;
  width: 100%;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 28%;
  margin-right: 28%;
  border-style: inset;
  border-width: 1px;
}

