* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.root {
  height: 100%;
}

.y-sticky {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer {
  flex-shrink: 0;
}

main {
  flex: 1 0 auto;
}

#warm {
  background-image: url('./Orange_Gradient.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  animation-name: card;
  animation-timing-function: linear;
  animation-duration: 400ms;
  margin-top: 25px;
}

#cold {
  background-image: url('./Blue_Gradient.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}


@keyframes card {
  0% {
    opacity: 0;
    margin-top: 0px;
  }
  25% {
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 5px;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 10px;
  }
  75% {
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 15px;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 20px;
  }
}